:root {
  --passport-color: #a5b0b8;
  --passport-color-dark: #142430;
  --passport-color-accent: #ff9138;
  --trs: all 0.3s ease;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

.input-hidden[type="text"],
.input-hidden[type="radio"],
.input-hidden[type="file"] {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

.canvas-wrapp {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  z-index: 999;
}

.canvas-inner {
  width: 540px;
  top: 5%;
  left: 50%;
  margin-left: -270px;
  position: absolute;
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  height: auto;
  max-height: 100vh;
  overflow-y: auto;
}

.canvas-inner h2.title {
  width: 100%;
  display: block;
  font-size: 32px;
  font-family: "Merriweather", serif;
  line-height: 1.7;
  color: var(--passport-color-dark);
  margin-bottom: 20px;
}

#test-area {
  margin: auto;
}

i.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  cursor: pointer;
}

.btn-wrapp {
  padding: 20px 0 0 0;
  width: 100%;
  text-align: center;
}

.img-wrapper a {
  display: block;
}

.product-passport {
  max-width: 1075px;
  margin: 0 auto;
  padding-bottom: 200px;
}

.product-passport__wrapper {
  display: flex;
  padding-top: 20px;
}

.product-passport__img {
  width: 57%;
  padding-right: 60px;
}

.product-passport__img .img-wrapper {
  display: block;
}

.product-passport__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-passport__content {
  width: 43%;
}

.product-passport__title {
  display: block;
  font-size: 32px;
  font-family: "Merriweather", serif;
  line-height: 1.7;
  color: var(--passport-color-dark);
  margin-bottom: 30px;
}

.product-passport__subtitle {
  display: block;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  letter-spacing: 2.57px;
  color: var(--passport-color-dark);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-passport__button[type="button"],
a.product-passport__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 600;
  color: var(--passport-color);
  background-color: transparent;
  border-radius: 7px;
  border: solid 2px var(--passport-color);
  transition: var(--trs);
  text-transform: none;
  width: 100%;
}

a.product-passport__button {
  width: auto;
  padding: 16px 30px;
  margin-bottom: 20px;
}

.product-passport__button--dark[type="button"] {
  color: #fff;
  background-color: var(--passport-color-dark);
  border: solid 2px var(--passport-color-dark);
  width: auto;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  letter-spacing: 2.57px;
  text-transform: uppercase;
}

.product-passport__button--small[type="button"] {
  padding: 10px 14px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.product-passport__button--shortcode[type="button"] {
  padding: 14px 30px;
}

.product-passport__button[type="button"]:hover,
.product-passport__button[type="button"].active,
a.product-passport__button.active {
  background-color: transparent;
  border: solid 2px var(--passport-color-dark);
  color: var(--passport-color-dark);
  box-shadow: none;
}

.product-passport__button svg {
  margin-right: 16px;
}

.product-passport__buttons-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 22px;
}

.product-passport__buttons-wrapper .product-passport__button {
  width: 48%;
  margin-bottom: 22px;
}

.product-modality {
  margin: 0;
  padding: 0 0 40px 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-modality__label {
  width: 48%;
  margin: 0;
}

.product-modality__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 600;
  color: var(--passport-color);
  background-color: transparent;
  border-radius: 7px;
  border: solid 2px var(--passport-color);
  transition: var(--trs);
  text-transform: none;
  width: 100%;
  cursor: pointer;
}

.product-modality__item svg {
  margin-right: 16px;
}

.product-modality__item svg path {
  fill: var(--passport-color);
  transition: var(--trs);
}

.product-modality__label input[type="radio"]:checked ~ .product-modality__item {
  border: solid 2px var(--passport-color-dark);
  color: var(--passport-color-dark);
}

.product-modality__label
  input[type="radio"]:checked
  ~ .product-modality__item
  svg
  path {
  fill: var(--passport-color-dark);
}

.cropped {
  position: relative;
  display: none;
  align-items: center;
  margin-bottom: 20px;
}

.cropped.is-active {
  display: flex;
}

.cropped.is-active .cropped__loading {
  opacity: 1;
  visibility: visible;
}

.cropped.active {
  display: flex;
}

.cropped__loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  color: var(--passport-color-dark);
  z-index: 2;
  transition: var(--trs);
  opacity: 0;
  visibility: hidden;
}

.cropped__img {
  position: relative;
  width: 83px;
  height: 113px;
  margin-right: 10px;
  border-radius: 7px;
  border: solid 2px var(--passport-color);
  overflow: hidden;
}

button.cropped__close {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 2;
  padding: 5px;
  background-color: #fff;
  z-index: 2;
}

button.cropped__close svg {
  width: 15px;
  height: 15px;
}

.cropped__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--trs);
  object-fit: cover;
}

.cropped__buttons {
  width: calc(100% - 83px);
  padding-left: 10px;
}

.product-info__item {
  margin-bottom: 20px;
}

.product-info__input[type="text"] {
  height: 55px;
  padding: 17px 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  color: var(--passport-color-dark);
  border: solid 2px var(--passport-color);
  border-radius: 7px;
  transition: var(--trs);
}

.product-info__input[type="text"]::placeholder {
  color: var(--passport-color);
  transition: var(--trs);
}

.product-info__input[type="text"]:focus {
  border: solid 2px var(--passport-color-dark);
}

.product-info__input[type="text"]:focus::placeholder {
  opacity: 0;
}

.product-passport__upload-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 600;
  color: var(--passport-color);
  background-color: transparent;
  border-radius: 7px;
  border: solid 2px var(--passport-color);
  transition: var(--trs);
  text-transform: none;
  width: 100%;
  cursor: pointer;
  margin-bottom: 5px;
}

.product-passport__upload-item--small {
  padding: 14px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.product-passport__upload-item-text {
  display: block;
  font-size: 12px;
  text-align: center;
  color: var(--passport-color);
  margin-bottom: 20px;
}

.product-passport__upload-item--small svg {
  width: 22px;
  height: 17px;
}

.product-passport__upload-item svg {
  margin-right: 16px;
}

.product-passport__upload-item svg path {
  fill: var(--passport-color);
  transition: var(--trs);
}

.product-passport__upload-item:hover {
  color: var(--passport-color-dark);
  border: solid 2px var(--passport-color-dark);
}

.product-passport__upload-item:hover svg path {
  fill: var(--passport-color-dark);
}

.product-info__button[type="button"],
.product-info__button[type="submit"] {
  width: 100%;
  padding: 17px 40px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2.5px;
  color: #fff;
  background-color: var(--passport-color-accent);
  text-transform: uppercase;
  border-radius: 7px;
  transition: var(--trs);
  box-shadow: none;
}

.product-info__button[type="button"]:hover,
.product-info__button[type="submit"]:hover {
  color: #fff;
  box-shadow: none;
  background-color: #ffa238;
}

/* Shortcode */

.passport-shortcode__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.passport-shortcode__quantity-button[type="button"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  border: 1px solid var(--passport-color-dark);
  background-color: var(--passport-color-dark);
  flex-shrink: 0;
  transition: var(--trs);
}

.passport-shortcode__quantity-button[type="button"]:hover {
  background-color: #fff;
  color: var(--passport-color-dark);
  box-shadow: none;
}

.passport-shortcode__quantity-button[type="button"]:hover svg path {
  fill: var(--passport-color-dark);
}

.passport-shortcode__input[type="number"] {
  padding: 0;
  margin: 0 10px;
  width: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  border: none;
}

.passport-shortcode__button-wrap {
  text-align: center;
  margin-top: 20px;
}

.passport-shortcode__text {
  font-size: 14px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  letter-spacing: 3px;
  color: var(--passport-color-dark);
  text-transform: uppercase;
  margin: 3px 15px 0 0;
}

/* Proggres */

.product-passport-progress {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.product-passport-progress__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
  transition: var(--trs);
}

.product-passport-progress__item:after {
  position: absolute;
  content: "";
  top: 9px;
  left: 50%;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(
    to left,
    #a5b0b8 103%,
    var(--passport-color-dark) 50%
  );
  transition: var(--trs);
}

.product-passport-progress__item:last-child:after {
  display: none;
}

.product-passport-progress__item.is-active .product-passport-progress__circle {
  background-color: var(--passport-color-dark);
  border: 3px solid var(--passport-color-dark);
}

.product-passport-progress__item.is-active .product-passport-progress__text {
  color: var(--passport-color-dark);
}

.product-passport-progress__item.is-active:after {
  background-image: none;
  background-color: var(--passport-color-dark);
}

.product-passport-progress__item.active
  .product-passport-progress__circle:after {
  opacity: 1;
}

.product-passport-progress__circle {
  position: relative;
  z-index: 2;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid var(--passport-color);
  background-color: #fff;
  margin-bottom: 12px;
}

.product-passport-progress__circle:after {
  position: absolute;
  content: "";
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(35deg);
  width: 5px;
  height: 8px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  opacity: 0;
}

.product-passport-progress__text {
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  color: var(--passport-color);
  line-height: 1.6;
  text-transform: uppercase;
}

/* Cart */

.woocommerce-cart-form__cart-item.cart_item .product-name > a {
  font-size: 20px;
  font-weight: 600;
  color: var(--passport-color-dark);
  display: block;
  margin-bottom: 10px;
}

.woocommerce-cart-form__cart-item.cart_item .product-name > a.edit-product {
  position: relative;
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 14px;
  color: var(--passport-color-dark);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.woocommerce-cart-form__cart-item.cart_item
  .product-name
  > a.edit-product:after {
  position: absolute;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23142430' fill-rule='nonzero'%3E%3Cg%3E%3Cpath d='M1.29 10L0 14 4 12.71z' transform='translate(-739 -572) translate(739 572)'/%3E%3Cpath d='M2.454 4.624L12.113 4.624 12.113 8.824 2.454 8.824z' transform='translate(-739 -572) translate(739 572) rotate(-45 7.283 6.724)'/%3E%3Cpath d='M13.778 2.296L11.704.222c-.297-.296-.741-.296-1.037 0L10 .89 13.111 4l.667-.667c.296-.296.296-.74 0-1.037z' transform='translate(-739 -572) translate(739 572)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
}

.woocommerce-cart-form__cart-item.cart_item .color-picker {
  display: inline-flex;
  align-items: center;
}

.woocommerce-cart-form__cart-item.cart_item .color-picker,
.woocommerce-cart-form__cart-item.cart_item .first-name,
.woocommerce-cart-form__cart-item.cart_item .second-name,
.woocommerce-cart-form__cart-item.cart_item .season,
.woocommerce-cart-form__cart-item.cart_item .nationality,
.woocommerce-cart-form__cart-item.cart_item .group-modality {
  font-size: 16px;
  color: var(--passport-color-dark);
}

.woocommerce-cart-form__cart-item.cart_item td {
  border-bottom: solid 1px #a5b0b8;
}

.woocommerce-cart-form__cart-item.cart_item .woocommerce-Price-amount {
  font-size: 16px;
  font-weight: bold;
  color: var(--passport-color-dark);
}

.woocommerce-cart-form__cart-item.cart_item .woocommerce-Price-amount {
  font-size: 16px;
  font-weight: bold;
  color: var(--passport-color-dark);
}

.woocommerce-cart-form__cart-item.cart_item .product-quantity,
.woocommerce-cart-form__cart-item.cart_item th.product-quantity {
  text-align: center;
}

.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents th {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: var(--passport-color-dark);
  letter-spacing: 1px;
  border-bottom: solid 1px #a5b0b8;
}

.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents
  th.product-quantity {
  text-align: center;
}

.woocommerce-cart-form__cart-item.cart_item .quantity .minus,
.woocommerce-cart-form__cart-item.cart_item .quantity .plus {
  display: none;
}

.woocommerce-cart-form__cart-item.cart_item .quantity .qty {
  font-weight: bold;
  color: var(--passport-color-dark);
  padding: 0;
  border: none;
}

.woocommerce-cart-form__cart-item.cart_item td.product-thumbnail img {
  max-width: 152px;
}

.woocommerce-cart-form__cart-item.cart_item td.product-thumbnail img {
  max-width: 152px;
  border-radius: 7px;
}

.svg-color {
  display: inline-flex;
  align-items: center;
}

.svg-color:before {
  width: 23px;
  height: 23px;
  margin: 0 5px;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.svg-color--aleatorio:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 40 40'%3E%3Cdefs%3E%3ClinearGradient id='ssy0o884fa' x1='14.043%25' x2='88.458%25' y1='19.208%25' y2='89.282%25'%3E%3Cstop offset='0%25' stop-color='%23D4D4D4'/%3E%3Cstop offset='30.228%25' stop-color='%23F7B500'/%3E%3Cstop offset='64.778%25' stop-color='%23FD4CBD'/%3E%3Cstop offset='100%25' stop-color='%2344E5FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='url(%23ssy0o884fa)' transform='translate(-877 -435)'%3E%3Cg transform='translate(877 435)'%3E%3Ccircle cx='20' cy='20' r='20'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.svg-color--rosa:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 40 40'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23FF3FAE'%3E%3Cg%3E%3Cg transform='translate(-784 -631) translate(730 613) translate(54 18)'%3E%3Ccircle cx='20' cy='20' r='20'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.svg-color--dorado:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 40 40'%3E%3Cdefs%3E%3ClinearGradient id='xb691xtlxa' x1='14.043%25' x2='88.119%25' y1='19.208%25' y2='88.962%25'%3E%3Cstop offset='0%25' stop-color='%23FFD154'/%3E%3Cstop offset='51.186%25' stop-color='%23FCE8B0'/%3E%3Cstop offset='100%25' stop-color='%23FFD154'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='url(%23xb691xtlxa)' transform='translate(-784 -533)'%3E%3Cg%3E%3Cg transform='translate(730 515) translate(54 18)'%3E%3Ccircle cx='20' cy='20' r='20'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.svg-color--metal:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 40 40'%3E%3Cdefs%3E%3ClinearGradient id='khrx6v5e1a' x1='14.043%25' x2='87.989%25' y1='19.208%25' y2='88.839%25'%3E%3Cstop offset='0%25' stop-color='%23D4D4D4'/%3E%3Cstop offset='48.274%25' stop-color='%23EEE'/%3E%3Cstop offset='100%25' stop-color='%23D4D4D4'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='url(%23khrx6v5e1a)' transform='translate(-1019 -533)'%3E%3Cg%3E%3Cg transform='translate(974 515) translate(45 18)'%3E%3Ccircle cx='20' cy='20' r='20'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.svg-color--azul:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 40 40'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2332C5FF'%3E%3Cg%3E%3Cg transform='translate(-784 -631) translate(730 613) translate(54 18)'%3E%3Ccircle cx='20' cy='20' r='20'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.svg-color--button:before {
  margin: 0 15px 0 0;
  width: 40px;
  height: 40px;
}

.passport-cart .img-wrapper {
  position: relative;
}

.passport-cart .product-labels {
  z-index: 9;
}

.passport-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  z-index: 999;
}

.passport-modal__content {
  width: 80%;
  top: 15%;
  left: 10%;
  position: absolute;
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 70vh;
}

.passport-modal__content .product-passport__button {
  width: 315px;
  margin-bottom: 20px;
  font-size: 12px;
}

.passport-modal__title {
  width: 75%;
  display: block;
  font-size: 32px;
  font-family: "Merriweather", serif;
  line-height: 1.7;
  color: var(--passport-color-dark);
  margin-bottom: 20px;
  text-align: center;
}

i.passport-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  cursor: pointer;
}

#get-cropped-image-src-new {
  display: none;
}

.js-avatar-preview-wrapper {
  width: 100%;
}

/* Media */

@media (max-width: 767px) {
  .product-passport {
    padding-bottom: 30px;
  }
  .product-passport__wrapper {
    flex-wrap: wrap;
  }
  .product-passport__img {
    width: 100%;
    padding-right: 0;
    margin-bottom: 30px;
  }
  .product-passport__content {
    width: 100%;
  }
  .product-passport-progress {
    margin: 50px 0;
  }
  .product-passport-progress__item {
    padding: 0 20px;
  }
  .product-passport-progress__text {
    font-size: 12px;
  }
  .passport-modal__title {
    font-size: 26px;
  }
}

@media (max-width: 576px) {
  .product-passport__title {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .product-passport__subtitle {
    font-size: 14px;
  }
  .canvas-inner {
    padding: 20px;
  }
  .canvas-inner h2.title {
    font-size: 22px;
  }
  i.close {
    top: 20px;
    right: 20px;
  }
  .product-passport-progress {
    margin: 50px 0 30px 0;
  }
  .product-passport-progress__item {
    padding: 0 10px;
  }
  .product-passport-progress__text {
    font-size: 10px;
  }
  .canvas-inner {
    width: 80%;
    left: 10%;
    margin-left: 0;
  }
  .woocommerce-cart-form__cart-item.cart_item td.product-thumbnail img {
    max-width: 100px;
  }
  .passport-modal__title {
    width: 100%;
    font-size: 20px;
  }
  .passport-modal__content .product-passport__button {
    width: 100%;
  }
  .passport-modal__content {
    height: auto;
  }
  i.passport-modal__close {
    top: 10px;
    right: 10px;
    font-size: 10px;
  }
  i.passport-modal__close svg {
    width: 15px;
    height: 15px;
  }
  .canvas-wrapp--notification h2.title {
    font-size: 22px;
    text-align: center;
  }
}

.cropper-bg {
  width: 100%;
}

.canvas-wrapp--notification h2.title {
  font-size: 22px;
  text-align: center;
}

.canvas-wrapp--notification .canvas-inner {
  padding: 20px 50px;
}
.canvas-wrapp--load h2.title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 0;
}

.canvas-wrapp--load .canvas-inner {
  padding: 50px;
}
